{% extends "base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}S3 Object List{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-12-xs">
    <h3>Bucket Info</h3>
    <p>Created: {{ my_bucket.creation_date }}</p>

    <hr>
    <table class="table table-striped">
      <tr>
        <th>Last Modified</th>
        <th>Thumbnail</th>
<!--          <th>Type</th> -->
<!--          <th>Tag</th> -->
      </tr>
      {% for f in files %}
      <tr>
        <td>{{ f.last_modified | datetimeformat }}</td>

        <td><a href={{ f.url }}>
              <img class="img-responsive" src={{ f.url }} width="200" height="132">
            </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}